ion-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.content-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	ion-item-divider {
		p {
			color: var(--ion-text-color);
			font-size: large;
			font-weight: bold;
			width: 100%;
			text-align: center;
		}
	}

	#container {
		display: flex;
		flex-direction: column;

		/* styles for portrait view */
		@media screen and (orientation: portrait) {
			flex-direction: column;
		}

		/* styles for landscape view */
		@media screen and (orientation: landscape) {
			flex-direction: row;
			flex-wrap: wrap;
			align-content: stretch;
			justify-content: center;
			/* center items horizontally */
			width: 100%;
			overflow-x: auto;
		}

		/* button styles */
		ion-button {
			@media screen and (orientation: landscape) {
				flex: 1 0 calc(25% - 10px);
			}

			margin: 5px;
		}

		padding-bottom: 16px;
	}

	.status-holder {
		padding: 3px;
		transform: translateY(-5%);
		background-color: var(--ion-item-background);
		text-align: right;
		border-radius: 6px;
		font-weight: bold;
	}

	.icon-enabled {
		color: var(--ion-color-success);
	}

	.icon-disabled {
		color: var(--ion-color-danger);
	}
}