<ion-header>
	<ion-toolbar>
		<ion-title>Capacitor SDK Example App</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="container">
		<ion-item-divider><p>Document RTU UI</p></ion-item-divider>
		<ion-button (click)="openDocScannerClick()">Open Document Scanner</ion-button>
		<ion-button [routerLink]="['/document-results']">View Scanned Pages</ion-button>
		<br/>
		<ion-item-divider><p>Other RTU UI</p></ion-item-divider>
		<ion-button [routerLink]="['/barcode-results']">Scan QR-/Barcodes</ion-button>
		<ion-button [routerLink]="['/generic-doc-results']">Generic Document Recognizer</ion-button>
		<ion-button [routerLink]="['/ehci-results']">EHIC Scanner</ion-button>
		<ion-button [routerLink]="['/license-plate-scanner']">License Plate Scanner</ion-button>
		<ion-button [routerLink]="['/medical-certificate-scanner']">Medical Certificate Scanner</ion-button>
		<ion-button [routerLink]="['/check-results']">Check Recognizer UI</ion-button>
		<ion-button [routerLink]="['/mrz-scanner']">MRZ Scanner</ion-button>
		<ion-button [routerLink]="['/text-data-scanner']">Text Data Scanner</ion-button>
		<ion-item-divider><p>SDK Functions</p></ion-item-divider>
		<ion-button (click)="importImageAndDetectBarcodes()">Import image and detect barcodes</ion-button>
		<ion-button (click)="importImageAndRecognizeCheck()">Import image and recognize check</ion-button>
		<ion-button (click)="applyFilterOnImage()">Import image and apply filter</ion-button>
	</div>
</ion-content>