.btn-toolbar {
	display: flex;
	justify-content: space-between;
}

.left-group {
	display: flex;
	flex: 1;
	justify-content: flex-start;
}

.right-group {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

ion-img {
	max-width: 100%;
	height: auto;
	aspect-ratio: 1/2;
	object-fit: contain;
	object-position: center;
	border: 2px solid var(--ion-item-background);
	margin: 4px;
  }
  
  @media screen and (orientation: landscape) {
	ion-col {
	  flex-basis: 33.33%;
	  max-width: 33.33%;
	  padding: 0 10px;
	}
  }
  