.image-preview-container {
    text-align: center;
    padding: 20px;
}
  
.image-preview {
    margin-top: 20px;
}

.image-preview img {
    max-width: 100%;
    max-height: 300px;
}

.image-uri {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.image-uri p {
    word-break: break-all;
}
  