page-home {
  .toolbar-background {
    background-color: #c8193c;
  }

  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-wp {
    color: #fff;
  }

  .copyright-label {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.80em;
    color: #8c8c8c;
  }
}
