/* Customize modal header */
ion-header {
    ion-toolbar {
      --background: #c8193c;
      color: #fff;
  
      ion-title {
        font-size: 1.2rem;
      }
    }
  }
  
/* Customize modal content */
ion-content {
    ion-list {
        ion-item {
            --ion-background-color: transparent;
            --ion-color: #333;
            font-size: 1.1rem;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

/* Close button */
ion-button[slot="end"] {
    --color: #fff;
}

/* Background overlay */
ion-backdrop {
    --background: rgba(0, 0, 0, 0.5);
}
