.md .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.md .action-sheet {
    margin: 0;
}

.md .action-sheet .action-sheet-title,
.md .action-sheet .button {
    text-align: left;
    border-color: transparent;
    font-size: 16px;
    color: inherit;
}

.md .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.md .action-sheet .button.active,
.md .action-sheet .button.activated {
    background: #e8e8e8;
}

.md .action-sheet-group {
    margin: 0;
    border-radius: 0;
    background-color: #fafafa;
}