<?xml version='1.0' encoding='utf-8'?>
  <widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  
  <feature name="ScanbotSdk">
    <param name="ios-package" value="ScanbotSdkPlugin"/>
  </feature>
  <feature name="ScanbotSdkUi">
    <param name="ios-package" value="ScanbotSdkUiPlugin"/>
  </feature>

  </widget>